'<h1><%= @message.url %></h1>

<p>
  Author: <a href="/messages/author/<%= @message.author %>"><%= @message.author %></a>
</p>

<p>
  <%= @message.content  %>
</p>

<p>
  <%= @message.url if @message.url != nil %>
</p>

<hr/>
<a href="/messages">Back to All Messages</a>'